@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
    margin: 0;
}

body {
    position: relative;
    background: repeating-linear-gradient( -45deg, rgba(17, 24, 39, 0.95), #111827f2 .5rem, #ef4444 .1rem, #ef4444 6rem) center center fixed;
    backdrop-filter: blur(5px);
    color: #F1F5F9;
}

.App {
    font-family: sans-serif;
    /* text-align: center; */
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 1rem;
}


/* Nav */

nav {
    width: 100%;
    /* background: #dc2626; */
    background: #1f2937;
    display: flex;
    margin-bottom: 1rem;
    font-family: "Press Start 2P", cursive;
    padding: 0.5rem 0;
}

nav img {
    height: 3rem;
    padding-top: 0.5rem;
    margin: 0 0.5rem;
    padding-right: 2rem;
    align-self: center;
    margin: 0 0.5rem;
}

.brand {
    color: #f3f4f6;
    text-align: center;
    align-self: center;
    font-size: 1.3rem;
}


/* Home */

.grid-view {
    /* overflow: auto; */
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.glass-cont {
    padding: 1.2rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 0 auto;
    width: 75%;
    /* background-color: rgba(144, 103, 198, 0.45); */
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

a {
    text-decoration: none;
}


/* Pokemon Card */

.card {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    background-color: rgba(144, 103, 198, 0.25);
    border-radius: 1rem;
    border: 1px solid rgba(55, 65, 81, 0.4);
    text-align: center;
}

.card img {
    height: 12rem;
    text-align: center;
    align-self: center;
}

.img-cont {
    justify-content: center;
    border-radius: 1rem;
}

.data-preview {
    padding: 1rem;
    border-radius: 1rem;
    color: #1f2937;
    text-decoration: none;
    text-align: left;
    background: rgb(240, 239, 244);
}

.id-preview {
    color: #374151;
    font-weight: 400;
}

.name-preview {
    margin-top: 0.1rem;
    font-size: 1.3rem;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .prof-pic {
        height: 17rem;
    }
    .stat-holder {
        width: fit-content;
    }
    /* .sprite-card {
        flex-wrap: wrap;
    } */
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
}


/* Profile Pic */

.prof-pic {
    /* height: 15rem; */
    text-align: left;
    /* height: 15rem;
opacity: 1; */
    border-radius: 1rem;
}

.desc {
    word-wrap: break-word;
    align-self: center;
    text-align: left;
    width: 17rem;
    margin: 1rem 0;
    font-size: 1.2rem;
}


/* Data Card */

.data-card {
    padding: 1rem;
    margin: 1rem;
    color: #525252;
    background: #E2E8F0;
    width: 15rem;
    /* align-self: center; */
    border-radius: 1rem;
    border: 1px solid rgba(55, 65, 81, 0.6);
}


/* .right-cont {
width: 75%; 
} */

.data-label {
    font-size: 1.1rem;
    color: #404040;
    margin: .5rem;
}

.poke-badge {
    padding: .2rem 1rem;
    margin: .2rem;
    border-radius: 1rem;
    border: 1px solid rgba(55, 65, 81, 0.6);
    color: #f3f4f6;
}

hr {
    margin: .2rem;
    background: #3F3F46;
    border: none;
    height: .1px;
}


/* Stats */

.stat-holder {
    padding: 1rem;
    background-color: #ECFCCB;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: fit-content;
}

.stat-table {
    border: none;
    color: #525252;
}

.heading {
    color: #262626
}

.stat-label {
    padding: .2rem;
    text-align: left;
    /* font-size: 1.2rem; */
    color: #404040;
}

td {
    border-bottom: 1px solid #3F3F46;
}

.bar-chart {
    border-bottom: 1px solid #f3f4f6;
    border-radius: 1rem;
    /* margin: 1rem 0; */
    height: .5rem;
}

.stat-value {
    padding: .2rem;
}


/* Sprite Card */

.sprite-cont {
    background-color: #FED7AA;
    padding: 1rem 0;
    margin: 2rem 0;
    border-radius: 1rem;
}

.sprite-card {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.sprtie-pic {
    height: 150px;
    width: 150px;
}